.loginpage{
    width: 500px;
    margin: 10%;
    
}

#logout {
   z-index: 9999;
   top: 0px;
    position: fixed;
    padding: 5px;
    border-bottom-right-radius: 10px;
    
}
#profile-image{
    background-image: url(../img/GenericImage.jpg);
    height: 138px;
    width: 159px;
    margin-top: 50px;
    margin-left: 40px;
    position: fixed;
    
    
}
#settings{
    width: 50px;
    height: 50px;
    top: 0px;
    position: fixed;
    margin-left: 180px;
    z-index: 9999;
    padding: 10px;
}
#links{
    margin-top: 200px;
}
#signup{
    width: 400px;
    margin-top: 100px;
    margin-left: 30%;
    
}
.video{
    width: 400px;
    float: right;
    margin-right: 15%;
    background-color: gainsboro;
    
}
.messages{
    width: 400px;
    float: right;
    border-color: darkgrey;
    border: 3px;
    border-radius: 5px;
    margin-right: -400px;
   z-index: 99999;
    margin-top: 230px;
    
}
#title{
    margin-left: 40%;
    width: 300px;
}

    .loader {
  width: 100px;
  height: 100px;
  -webkit-perspective: 100px;
          perspective: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.loader__tile {
  display: block;
  float: left;
  width: 33.33%;
  height: 33.33%;
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 0;
}

.loader__tile__1 {
  background-color: #943048;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader__tile__2 {
  background-color: #d7532d;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader__tile__3 {
  background-color: #d2cabb;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader__tile__4 {
  background-color: #9faad0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader__tile__5 {
  background-color: #b39a3b;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader__tile__6 {
  background-color: #dc2c34;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader__tile__7 {
  background-color: #ece5be;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader__tile__8 {
  background-color: #d07500;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader__tile__9 {
  background-color: #7983a9;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  11% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  11% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

/*Logo */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  margin-top: 00px;
  text-align: center;
  line-height: 100vh;
    bottom: 200px;
    height: 200px;
}

.container {
  display: inline-block;
   margin-top: -400px;
    height: 200px;
}

.dots {
  display: inline-block;
  position: relative;
}
.dots:not(:last-child) {
  margin-right: 9px;
}
.dots:before, .dots:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
}
.dots:nth-child(1):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #F00;
}
.dots:nth-child(1):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #777;
}
.dots:nth-child(2):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  background-color: #F00;
}
.dots:nth-child(2):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  background-color: #777;
}
.dots:nth-child(3):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -2.7s;
  animation-delay: -2.7s;
  background-color: #F00;
}
.dots:nth-child(3):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -2.7s;
  animation-delay: -2.7s;
  background-color: #777;
}
.dots:nth-child(4):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  background-color: #F00;
}
.dots:nth-child(4):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  background-color: #777;
}
.dots:nth-child(5):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
  background-color: #F00;
}
.dots:nth-child(5):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
  background-color: #777;
}
.dots:nth-child(6):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  background-color: #F00;
}
.dots:nth-child(6):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  background-color: #777;
}
.dots:nth-child(7):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -6.3s;
  animation-delay: -6.3s;
  background-color: #F00;
}
.dots:nth-child(7):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -6.3s;
  animation-delay: -6.3s;
  background-color: #777;
}
.dots:nth-child(8):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  background-color: #F00;
}
.dots:nth-child(8):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  background-color: #777;
}
.dots:nth-child(9):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -8.1s;
  animation-delay: -8.1s;
  background-color: #F00;
}
.dots:nth-child(9):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -8.1s;
  animation-delay: -8.1s;
  background-color: #777;
}
.dots:nth-child(10):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #F00;
}
.dots:nth-child(10):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #777;
}

@-webkit-keyframes animBefore {
  0% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}
@keyframes animBefore {
  0% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}
@-webkit-keyframes animAfter {
  0% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}
@keyframes animAfter {
  0% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    transform: scale(1) translateY(200%);
    z-index: 1;
  }
}



